<template>
    <div class="flex flex-col items-center bg-grey-lighter mb-5 pt-4 items-center justify-between">
        <form class="shadow-md rounded flex-1 w-3/4 px-4 py-4" v-model="task" @submit.prevent="onSubmit">
            <div class="mb-2">
                <input v-model="task.name" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Task Name">
            </div>
            <div class="mb-2">
                <input v-model="task.time" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Task Time">
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Add task
                </button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
  name: 'add-task',
  data() {
    return {
      task: { name: '', time: null },
    };
  },
  methods: {
    onSubmit() {
      this.$emit('onSubmit', { ...this.task });
      this.task = { name: '', time: null };
    },
  },
};
</script>


