<template>
  <div>
    <div class="flex flex-col items-center bg-grey-lighter mb-5 pt-4 items-center justify-between">
      <form class="shadow-md rounded flex-1 w-3/4 px-4 py-4" v-model="settings" @submit.prevent="onSubmit">
        <div class="mb-2">
          <input v-model="settings.user" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Your Name">
        </div>
        <div class="mb-2">
          <input v-model="settings.project" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Project Name">
        </div>
        <div class="flex items-center justify-between">
          <button class="bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
            Save settings
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'settings',
  created() {
    this.$store.dispatch('loadSettings').then(() => {
      this.settings = { ...this.$store.state.settings };
    });
  },
  data() {
    return {
      settings: {
        user: null,
        project: null,
      },
    };
  },
  methods: {
    onSubmit() {
      this.$store.dispatch('saveSettings', this.settings);
    },
  },
};
</script>


