<template>
  <div>
    <div class="flex flex-col items-center bg-grey-lighter">
      <special-task v-for="task in special" :task="task"></special-task>
    </div>
    <div class="flex flex-col items-center mt-3">
      <button @click="saveSpecial" class="bg-blue w-3/4 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded">Save</button>
    </div>
  </div>
</template>

<script>
import SpecialTask from './SpecialTask';
export default {
  name: 'special',
  components: { SpecialTask },
  created() {
    this.$store.dispatch('loadSpecial').then(() => {
      this.special = this.$store.state.special.map(item => ({ ...item }));
    });
  },
  data() {
    return {
      special: [],
    };
  },
  methods: {
    saveSpecial() {
      this.$store.dispatch('saveSpecial', this.special.map(item => ({ ...item })));
    },
  },
};
</script>


