<template>
  <div class="flex flex-1 w-3/4 flex-col justify-between text-xs text-teal-darkest bg-grey-light px-3 py-3 m-1 rounded shadow-md">
    <div>{{ task.title }}</div>
    <div class="flex flex-col mt-3">
      <div class="mb-2 flex-1">
        <input v-model="task.time" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Time">
      </div>
      <div class="mb-2 flex-1">
      <input v-model="task.comment" class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:shadow-outline" type="text" placeholder="Comment">
    </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'special-task',
    props: ['task'],
  };
</script>


