<template>
  <div>
    <add-task @onSubmit="addTask"></add-task>
    <div class="flex flex-col items-center bg-grey-lighter">
      <task v-for="task in tasks" @remove="removeTask" :task="task"></task>
    </div>
  </div>
</template>

<script>
import Task from './Task';
import AddTask from './AddTask';
export default {
  name: 'tasks',
  components: { Task, AddTask },
  created() {
    this.$store.dispatch('loadTasks');
  },
  data() {
    return {
      task: { name: '', time: 0 },
    };
  },
  computed: {
    tasks() {
      return this.$store.state.tasks;
    },
  },
  methods: {
    addTask(task) {
      this.$store.dispatch('addTask', task);
    },
    removeTask(task) {
      this.$store.dispatch('removeTask', task);
    },
  },
};
</script>


