<template>
  <div
    class="flex flex-1 w-3/4 items-center justify-between text-xs text-teal-darkest bg-grey-light px-3 py-3 m-1 rounded shadow-md">
    <div>{{ task.name }}</div>
    <div class="flex items-center">
      <div class="text-grey-darkest font-bold text-base ml-10 mr-3">{{ task.time }}</div>
      <button class="bg-grey-light hover:bg-grey text-grey-darkest font-bold rounded inline-flex items-center" @click="remove">
        <svg class="fill-current w-4 h-4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
          <path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z"/>
        </svg>
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'task',
    props: ['task'],
    methods: {
      remove() {
        this.$emit('remove', { ...this.task });
      },
    },
  };
</script>


