<template>
  <div class="flex p-2 bg-grey">
    <router-link class="flex-1 text-center menu-link" to="/tasks">Общие задачи</router-link>
    <router-link class="flex-1 text-center menu-link" to="/special">Специальные задачи</router-link>
    <router-link class="flex-1 text-center menu-link" to="/settings">Настройки</router-link>
    <a href="#" class="flex-1 text-center menu-link" @click.prevent="$emit('export')">Экспорт</a>
  </div>
</template>

<script>
  export default {
    name: 'top-menu',
  };
</script>

<style scoped>
  .menu-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
  }

  .router-link-active {
    color: #3F51B5;
  }
</style>
