<template>
  <div id="app" class="bg-grey-lighter h-screen">
    <top-menu @export="exportFile()"></top-menu>
    <router-view></router-view>
  </div>
</template>

<script>
  import TopMenu from './components/TopMenu';
  const fs = require('fs');
  // eslint-disable-next-line import/no-extraneous-dependencies
  const { dialog } = require('electron').remote;

  export default {
    name: 'app',
    components: { TopMenu },
    methods: {
      exportFile() {
        const { tasks, settings, special } = this.$store.state;
        let xmlBook = '<Workbook>';
        xmlBook += this.generateFirstPage(settings.project, settings.user, tasks);
        xmlBook += this.generateSecondPage(settings.user, special);
        xmlBook += '</Workbook>';
        dialog.showSaveDialog({ defaultPath: 'report.xml' }, (filename) => {
          if (filename) {
            fs.writeFile(filename, xmlBook, () => {
              dialog.showMessageBox({ type: 'info', message: 'Файл экпортирован', title: 'Экспорт' });
            });
          }
        });
      },

      generateFirstPage(projectName, userName, items) {
        return `
          <Worksheet>
            <Table>
              <Row>
                <Cell><Data>prnm_</Data></Cell>
                <Cell><Data>${projectName}</Data></Cell>
              </Row>
              <Row>
                <Cell><Data>empl_</Data></Cell>
                <Cell><Data>${userName}</Data></Cell>
              </Row>
              ${items.map(task => `
                <Row>
                <Cell><Data>${task.name}</Data></Cell>
                <Cell><Data>${task.time}</Data></Cell>
              </Row>
              `).join('')}
            </Table>
          </Worksheet>
        `;
      },
      generateSecondPage(userName, special) {
        return `<Worksheet>
      <Table>
        <Row>
          <Cell><Data>empl_</Data></Cell>
          <Cell><Data>${userName}</Data></Cell>
          <Cell><Data>1</Data></Cell>
          <Cell><Data>комментарии</Data></Cell>
        </Row>
        ${special.map(item => `
          <Row>
            <Cell><Data>${item.title}</Data></Cell>
            <Cell><Data>${item.time}</Data></Cell>
            <Cell><Data>${item.comment}</Data></Cell>
          <Row/>
        `).join('')}
        <Row/>
      </Table>
    </Worksheet>`;
      },
    },
  };
</script>

<style>

  body::-webkit-scrollbar {
    width: 8px;
  }

  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 15px;
  }
</style>
